<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title> Horage App - Horarios</title>
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="../static/css/grupo.css">
    </head>
      <body>
        <header>
          <p><strong>Grupos</strong><a href="/horarios"><img id="flecha" src="../static/img/flecha.png" width= "30px"></p>
       </header> 
        <iframe id="iframe" src="../static/pdf/grupos.pdf" width="100%" height="266px"></iframe>

      </body>
</html>
