<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title> Horage App.</title>
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="../static/css/home.css">
    </head>
    <body>
       <header>
           <p><strong>Horage App-Cbtis122</strong></p>
           <img src="../static/img/logo.png">
       </header> 
       <section>
           <div class="buttom">
               <a href="/notas"><p>Avisos</p></a>
           </div>
           <div class="buttom">
               <a href="/horarios"><p>Horarios</p></a>
           </div>
       </section>

    </body>
</html>
