<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title> Horage App - Horarios</title>
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="../static/css/horarios.css">
    </head>
      <body>
        <header>
          <p><strong>Horarios</strong><a href="/"><img id="flecha" src="../static/img/flecha.png" width= "30px"></a></p>
          
       </header> 
       <div >
         <div>
           <a href="/grupo"><p class="button">Por Grupo</p></a>
         </div>
         <div>
           <a href="/maestro"><p class="button">Por Maestro</p></a>
         </div>
         <div>
           <a href="/aula"><p class="button">Por Aula</p></a>
         </div>
       </div>
      </body>
</html>
